@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  background: #f6f6f9;
  font-family: poppins, sans-serif;
  user-select: none;
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  background: red;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: #363949;
}

img {
  display: block;
  /* width: 100%; */
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: #7d8da1;
}

p {
  color: #677483;
}

.primary {
  color: #7380ec;
}

.danger {
  color: #ff7782;
}

.success {
  color: #41f1b6;
}

.warning {
  color: #ffbb55;
}
